footer p {
  margin: 0;
  font-size: 0.9rem;
}
.footer-content 
{
  
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap:30px;
}
.footer-copy

input{
  border-radius: 18%;
}

