footer p {
  margin: 0;
  font-size: 0.9rem;
}
.footer-content 
{
  
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap:30px;
}
.footer-copy
{
  margin-top: 42px;
  margin-left: 102px;
}
input{
  border-radius: 18%;
}

