
.Container {
  display: flex;
  gap: 10px;          
  min-height: 100vh;  
  
  
  box-sizing: border-box;
}
.upper
{

  background-image: url("./Components/images/bg-plant.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  opacity:60%;
  
}

.Product {
  width: 60%;
  background-color: #1B2217;;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
     
}


.Home {
  width: 40%;
  background-color: #1B2217;;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
   
}

.hom1
{
  display:flex;
  flex-direction:column;
}


body, html {
  height: 100%;
  color: white;
  margin: 0;
  padding: 0;
  overflow: auto;     
  font-family: Arial, sans-serif;
}
footer{
  margin-top: 50px;
}
/* =======================
   Responsive Media Queries
======================= */

@media screen and (max-width: 768px) {
  .Container {
    flex-wrap: wrap;  /* allow stacking on mobile */
  }

  .Home, .Product {
    width: 100%;      /* full width for each */
  }
}